#main-container {
  padding: 30px;
  background-color: #f2f2f3;
  font-size: 20px;
}

#main-container > p {
  display: list-item;
  list-style: disc outside none;
}

#inner-container {
  padding: 20px 10px;
  background-color: white;
}

#inner-container > p {
  font-size: 16px;
  color: rgb(105, 117, 122);
}

.skill-holder {
  display: flex;
  padding: 5px;
}

.skill-holder > span {
  flex: 10;
}

.skill-holder > .btn {
  flex: 1;
}

.disabled {
  cursor: not-allowed;
  color:rgb(129,129,129)!important;
}

.draggable-item {
  cursor: cell;
  background-color: #34eacb!important;
  color: #125045!important;
  border-radius: 2px;
}

#input-container {
  background-color: transparent!important;
  border-color: transparent!important;
  padding:0;
  color: #333!important;
  margin-bottom: 16px;
}

.form-control {
  padding: 25px!important;
  font-size: 20px!important;
  border-color:#cffbf3!important;
  background-color: #cffbf3!important;
  /* line-height: 30px; */
}

.close-btn{
  width: 24px!important;
  height: 24px!important;
  color: black;
  padding: 0!important;
  background: transparent!important;
  border: none !important;
  line-height: 1.15!important;
  font-size: 100%!important;
  outline: none!important;
}