#main-container {
  padding: 30px;
  background-color: #f2f2f3;
  font-size: 20px;
}

#main-container > p {
  display: list-item;
  list-style: disc outside none;
}

#inner-container {
  padding: 20px 10px;
  background-color: white;
}

#inner-container > p {
  font-size: 16px;
  color: rgb(105, 117, 122);
}

.skill-holder {
  display: flex;
  padding: 5px;
}

.skill-holder > span {
  flex: 10;
}

.skill-holder > .btn {
  flex: 1;
}

.disabled {
  cursor: not-allowed;
}

.draggable-item {
  cursor: cell;
}

#input-container {
  background-color: transparent;
  border-color: transparent;
  padding:0;
  margin-bottom: 16px;
}

.form-control {
  padding: 25px!important;
  font-size: 20px!important;
  /* line-height: 30px; */
}